<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key ="test" value ="esto es una lectura de fichero "/>
		<add key ="fichero" value ="C:\\Users\\arago\\source\\repos\\Unitario\\ApiCalled\\test.xml"/>

		<add key ="pizzas" value ="esto es una lectura de fichero "/>
		<add key ="ficheroPizza" value ="C:\\Users\\arago\\source\\repos\\Unitario\\ApiCalled\\Pizzas.xml"/>
	</appSettings>
</configuration>